image: maven:latest

stages:          # List of stages for jobs, and their order of execution
  - build
  - test
  - package
  - docker-build

cache:
  paths:
    - .m2/repository

variables:
  MAVEN_OPTS: -Dmaven.repo.local=.m2/repository
  # IMAGE_NAME: ciprianhaldan/ciprianhaldan
  # IMAGE_TAG: maven-app-1.0
  IMAGE_NAME: ciprianhaldan/ciprianhaldan
  IMAGE_TAG: backend-app

build-job:       # This job runs in the build stage, which runs first.
  stage: build
  script:
    - echo "Compiling the code..."
    - mvn compile
    - echo "Compile complete."

.test_job:
  stage: test
  script:
    - mvn test

package_job:
  stage: package
  script:
    - mvn package



.smoke test:
  stage: test
  image: openjdk:17-alpine
  before_script:
    - apk --no-cache add curl
  script:
    - java -jar ./target/spring-0.0.1-SNAPSHOT.jar &
    - sleep 30
    - curl http://localhost:8080/api/all | grep "xx"


.unit-test-job:   # This job runs in the test stage.
  stage: test    # It only starts when the job in the build stage completes successfully.
  image: openjdk:17-alpine
  script:
    - mvn verify
  artifacts:
    when: always
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        - target/failsafe-reports/TEST-*.xml

build_image:
  stage: docker-build
  image: docker:20.10.16
  services: 
    - name: docker:20.10.16-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker login -u $REGISTRY_USER -p $REGISTRY_PASS
    #- echo $REGISTRY_PASS | docker login  -u $REGISTRY_USER -p $REGISTRY_PASS
  script:
    - docker build -t $IMAGE_NAME:$IMAGE_TAG . 
    - docker push $IMAGE_NAME:$IMAGE_TAG