stages:          # List of stages for jobs, and their order of execution
  - build
  - test
  - package

cache:
  paths:
    - .m2/repository
    - target

variables:
  MAVEN_OPTS: -Dmaven.repo.local=.m2/repository
  #IMAGE_NAME: userApp-backend
  #IMAGE_TAG: maven-app-1.0

build-job:       # This job runs in the build stage, which runs first.
  stage: build
  image: maven:latest
  script:
    - echo "Compiling the code..."
    - mvn clean install -DskipTests
    - echo "Compile complete."
  artifacts:
    paths:
      - ./target

test_job:
  stage: test
  script:
    - mvn test

package_job:
  stage: package
  script:
    - mvn package

.build_image:
  stage: build
  image: docker:26.0.0-rc2-dind
  services: 
    - docker:26.0.0-rc2-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker login -u $REGISTRY_USER --password-stdin
  script:
    - docker build -t $IMAGE_NAME:$IMAGE_TAG . 
    - docker push $IMAGE_NAME:$IMAGE_TAG

.smoke test:
  stage: test
  image: openjdk:17-alpine
  before_script:
    - apk --no-cache add curl
  script:
    - java -jar ./target/spring-0.0.1-SNAPSHOT.jar &
    - sleep 30
    - curl http://localhost:8080/api/all | grep "xx"


.unit-test-job:   # This job runs in the test stage.
  stage: test    # It only starts when the job in the build stage completes successfully.
  image: openjdk:17-alpine
  script:
    - mvn verify
  artifacts:
    when: always
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        - target/failsafe-reports/TEST-*.xml
