stages:          # List of stages for jobs, and their order of execution
  - build
  - test
  - deploy

build-job:       # This job runs in the build stage, which runs first.
  stage: build
  image: maven:latest
  script:
    - echo "Compiling the code..."
    - mvn clean install -DskipTests
    - echo "Compile complete."
  artifacts:
    paths:
      - ./target

test-job:
  stage: test
  image: maven:latest
  script:
    - mvn test

.smoke test:
  stage: test
  image: openjdk:17-alpine
  before_script:
    - apk --no-cache add curl
  script:
    - java -jar ./target/spring-0.0.1-SNAPSHOT.jar &
    - sleep 30
    - curl --request GET --url http://localhost:8080/api/all | grep "george"


unit-test-job:   # This job runs in the test stage.
  stage: test    # It only starts when the job in the build stage completes successfully.
  image: openjdk:17-alpine
  script:
    - mvn verify
  artifacts:
    when: always
    reports:
      junit:
        - target/surefire-reports/TEST-*.xml
        - target/failsafe-reports/TEST-*.xml
